.about-container {
    font-family: Montserrat;
}

.about-main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 150px;
}
