.banner-content {
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 5%;
    margin-right: 5%;
}

.banner-bg img {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 223px;
    width: 100%;
    border-radius: 25px;
    filter: brightness(70%);
    z-index: 1;
}

.banner-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: white;
    position: absolute;
    top: 50px;
    bottom: 50px;
    left: 30%;
    right: 30%;
}

@media (min-width: 375px ) and (max-width: 768px) {
    
    .banner-bg img {
        min-width: 300px;
    }
    
    .banner-title {
        justify-content: start;
        font-size: 18px;
        left: 10%;
        right: 15%;
    }
}