.home-main-content {
    /**display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, auto);**/
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    grid-gap:50px;
    border-radius: 25px;
    background-color: #f7f7f7;
    padding: 56px 50px 43px;
    margin-bottom: 50px;
    margin-left: 5%;
    margin-right: 5%;
}

.card-content h2 {
    position: absolute;
    font-size: 18px;
    left: 10px;
    bottom: 10px;
    color: white;
    z-index: 1;
}

.card-content img {
    width: 340px;
    height: 340px;
    
    border-radius: 10px;
    position: relative;
    object-fit: cover;
}

.home-main-content a {
    position: relative;
    margin: 0;
    padding: 0;
}

@media (min-width: 375px ) and (max-width: 768px) {
    
    
    .home-main-content {
        grid-template-columns: repeat(1, auto);
        background-color: white;
        padding: 0 0 0 0;
        margin-left: 20px;
        margin-right: 20px;
    }

    .card-content h2 {
        
    }

    .card-content img {
        min-width: 320px;
        height: 255px;
    }

}



