.host-rating {
    width: 150px;
}

.host-rating img {
    width: 30px;
    height: 30px;
}

@media (min-width: 375px ) and (max-width: 768px) {
    
    .host-rating {
        width: 100px;
    }

    .host-rating img {
        width: 20px;
        height: 20px;
    }
    
}